#Utils
sudo apt install guake redshift-gtk virtualbox numlockx

#Docker
sudo apt-get install apt-transport-https ca-certificates
sudo apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
sudo apt-get install docker-engine

#Ubuntu make
sudo add-apt-repository ppa:ubuntu-desktop/ubuntu-make
sudo apt install ubuntu-make

#Build essentials
sudo apt-get install build-essential autoconf libssl-dev

#atom
sudo add-apt-repository ppa:webupd8team/atom
sudo apt-get update
sudo apt-get install atom

#Dropbox
sudo apt-key adv --keyserver pgp.mit.edu --recv-keys 5044912E
sudo sh -c 'echo "deb http://linux.dropbox.com/ubuntu/ xenial main" >> /etc/apt/sources.list.d/dropbox.list'
sudo apt-get update
sudo apt-get install dropbox

#ansible
sudo apt-get install libffi-dev python-pip
sudo pip install ansible

#vagrant
sudo apt-get install vagrant

#meld
sudo apt-get install meld
