name: CI Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Setup
      run: make setup

    - name: Run lint
      run: |
        make lint

    - name: Run tests
      run: |
        TEST_TMP_DIR="${{ runner.temp }}" make test
